<p id="notice"><%= notice %></p>
<%= link_to "вЮХдЇИеЃЪгВТињљеК†", new_tweet_path %>
<h1>рЯЧУпЄПMy ScheduleрЯЧУпЄП</h1>

<table>
  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.start_time.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog.id) %></td>
        <td><%= link_to 'Destroy',blog_path(blog.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "в≠Р TodoгГ™гВєгГИ", lectures_new_path %>
<%= link_to "рЯС§ гГЮгВ§гГЪгГЉгВЄ", mypage_path %>

<%= month_calendar events: @blogs do |date, blogs| %>
<%= link_to date.day, daily_schedule_path(date: date) %>

  <% blogs.each do |blog| %>
    <div>
      <%= link_to blog.title, blog %>
    </div>
  <% end %>
<% end %>
